<a href="https://colab.research.google.com/github/zza0818/py-11/blob/master/homework/Summary_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Summary of datatypes in Python

- list
- dictionary
- tuple
- set
- string

### 리스트 생성 및 항목 추가

In [0]:
a = [ 10, 20, 30, 40, 50 ]

In [0]:
# 0, 1, 2... 인덱스는 리스트 처음부터 시작
# -1, -2, ... 인덱스는 리스트 마지막부터 시작

print("a[0] ==", a[0], ", a[2] ==", a[2], ", a[4] ==", a[4])
print("a[-1] ==", a[-1], ", a[-2] ==", a[-2], ", a[-5] ==", a[-5])

a[0] == 10 , a[2] == 30 , a[4] == 50
a[-1] == 50 , a[-2] == 40 , a[-5] == 10

In [0]:
b = [ 10, 20, "Hello", [True, 3.14] ]

In [0]:
# b[3] 또는 b[-1] 값은 [True, 3.14] 리스트 전체임

print("b[0] ==", b[0], ", b[2] ==", b[2], ", b[3] ==", b[3])
print("b[-1]==", b[-1], ", b[-2] ==", b[-2], ", b[-4]==", b[-4])

b[0] == 10 , b[2] == Hello , b[3] == [True, 3.14]
b[-1]== [True, 3.14] , b[-2] == Hello , b[-4]== 10

In [0]:
print("b[3][0] ==", b[3][0],", b[3][1] ==", b[3][1])
print("b[-1][-1] ==", b[-1][-1],", b[-1][-2] ==", b[-1][-2]) #b[-1][-1] 중간고사

b[3][0] == True , b[3][1] == 3.14
b[-1][-1] == 3.14 , b[-1][-2] == True

In [0]:
b[-2][-2] #Hello의 끝에서 두번째 l

'l'

In [0]:
a = [ 10, 20, 30, 40, 50]

In [0]:
# a[0:2] => 인덱스 0부터 2-1까지, a[1:] => 인덱스 1부터 끝까지
# a[:3] => 인덱스 처음부터 3-1 끝까지, a[:-2] => 인덱스 처음부터 -2-1 까지
# a[:] => 인덱스 처음부터 끝까지

print("a[0:2] ==", a[0:2], ", a[1:] ==", a[1:])
print("a[:3] ==", a[:3], ", a[:-2] ==", a[:-2])
print("a[:] ==", a[:])

a[0:2] == [10, 20] , a[1:] == [20, 30, 40, 50]
a[:3] == [10, 20, 30] , a[:-2] == [10, 20, 30]
a[:] == [10, 20, 30, 40, 50]

### 튜플

In [0]:
a = ( 10, 20, 30, 40, 50 )

In [0]:
print("a[0] ==", a[0], ", a[-2] ==", a[-2], ", a[:] ==", a[:])

print("a[0:2] ==", a[0:2], ", a[1:] ==", a[1:])

a[0] == 10 , a[-2] == 40 , a[:] == (10, 20, 30, 40, 50)
a[0:2] == (10, 20) , a[1:] == (20, 30, 40, 50)

In [0]:
#ERROR CODE
a[0] = 100

TypeError: ignored

### 딕셔너리

In [0]:
score = { "KIM":90, "LEE":85, "JUN":95} # dictionary 생성

In [0]:
print("score['KIM'] ==", score['KIM']) # 원소 접근

score['KIM'] == 90

In [0]:
score['HAN'] = 100 # 새 원소 추가

# 딕셔너리는 입력한 순서대로 데이터가 들어가는 것이 아니므로 주의해야함

print(score)
score

{'KIM': 90, 'LEE': 85, 'JUN': 95, 'HAN': 100}

{'HAN': 100, 'JUN': 95, 'KIM': 90, 'LEE': 85}

#### 질문

In [0]:
a=32
a

32

In [0]:
a
print(a)

32

In [0]:
print(a)
a

32

32

In [0]:
# 딕셔너리 key, value, (key, value)

print("score key ==", score.keys())
print("score value ==", score.values())
print("score items ==", score.items())

score key == dict_keys(['KIM', 'LEE', 'JUN', 'HAN'])
score value == dict_values([90, 85, 95, 100])
score items == dict_items([('KIM', 90), ('LEE', 85), ('JUN', 95), ('HAN', 100)])

### 스트링

In [0]:
a = 'A73,CD' # lenghth 6

In [0]:
a[1] # a[1]은 숫자 7이 아닌 문자열 7

'7'

In [0]:
a = a + ', EFG' # + 연산자 사용
a

'A73,CD, EFG'

In [0]:
# split 중요
#split 메서드는 특정 separator을 기준으로 문자열을 분리하여 list 연결
b = a.split(',')
print(b)

['A73', 'CD', ' EFG']


#### 교수님 
A73을 뽑아내는 슬라이싱(여러개가 있음) *중간고사*

In [0]:
a[:3]

'A73'

In [0]:
a[0:3]

'A73'

In [0]:
a[:-8]

'A73'

In [0]:
a[-11:-8]

'A73'

In [0]:
a[0:-8]

'A73'

In [0]:
a[-11:3]

'A73'

### useful function - type(), len()

In [0]:
a = [ 10, 20, 30, 40, 50 ]
b = ( 10, 20, 30, 40, 50 )
c = { "KIM":90, "LEE":80 }
d = 'Seoul, Korea' # #string 공백도 하나로 카운트
e = [ [100,200], [300, 400], [500, 600]] # 리스트 안 리스트 : 이차원리스트

print(type(a), type(b), type(c), type(d), type(e))

print(len(a), len(b), len(c), len(d), len(e))

# print(size(e)) ERROR CODE

<class 'list'> <class 'tuple'> <class 'dict'> <class 'str'> <class 'list'>
5 5 2 12 3

### useful function = list(), str(), int()

In [0]:
a = 'Hello'
b = { "KIM":90, "LEE":80}

print(list(a), list(b.keys()), list(b.values()), list(b.items())) # 소괄호 : 튜플

['H', 'e', 'l', 'l', 'o'] ['KIM', 'LEE'] [90, 80] [('KIM', 90), ('LEE', 80)]

####str(data)은 입력되는  data를 문자열로 변환하여 리턴 하는 함수
모든 데이터를 문자열로 변환 가능

In [0]:
str(3.14)

'3.14'

In [0]:
str('100')

'100'

In [0]:
# 주의
str([1, 2, 3])

'[1, 2, 3]'

#### int(data)는 문자열 형태로 입력되는 숫자나 소수점이 있는 숫자 등을 정수 형태로 리턴 하는 함수

In [0]:
int('100')

100

In [0]:
int(3.14)

3